# Project dependencies
yarn.lock
package-lock.json
.yarn
.venv
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
assets/github.svg
assets/github.svg
assets/grid.svg
src/static/activities.json
